
/* Home */
.container{
  margin-top: 80px;
  margin-right: -10px;
  overflow: hidden;
  width: 900px;
  border: 2px solid #ffffff;
 
}
.container .text{
  position: relative;
  color: #ff0066;
  font-size: 100px;
}

.HH{
margin-top: 40px;
margin-left: 50px;
margin-right: 30px;
font-size: 35px;
font-weight: 580;
}
.YY{
color: #ff0066;
}
/* Home */
.container{
  margin-top: 80px;
  margin-right: -10px;
  overflow: hidden;
  width: 900px;
  border: 2px solid #ffffff;
 
}
.container .text{
  position: relative;
  color: #ff0066;
  font-size: 100px;
}

.HH{
margin-top: 40px;
margin-left: 50px;
margin-right: 30px;
font-size: 35px;
font-weight: 580;
}
.YY{
color: #ff0066;
}

.PPP{
margin-top: -60px;
font-size: 24px;
margin-left: 100px;
width: 1000px;
}
.TTT{
color: #ffffff;
font-size: 26px;
font-weight: 580;

}
.TT{
margin-top: 50px;
font-size: 25px;
margin-left: 100px;
width: 900px;
font-weight: 580;
}


@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}
@media screen and (max-width: 600px)  {

  /* Home */
  .container{
    margin-top: 45px;
    margin-right: -10px;
    margin-bottom: 60px;
    overflow: hidden;
    width: 90%;
    border: 2px solid #ffffff;
   
}
.container .text{
    position: relative;
    color: #ff0066;
    font-size: 100px;
}

.HH{
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 35px;
  font-weight: 580;
}
.YY{
  color: #ff0066;
}

.PPP{
  font-size: 22px;
  margin-left: 30px;
  margin-top: -50px;
  color: #ffffff;
  width: 90%;
}
.TTT{
  color: #ffffff;
  font-size: 24px;
  font-weight: 580;
  
}
.TT{
  margin-top: 50px;
  font-size: 25px;
  margin-left: 30px;
  font-weight: 580;
  width: 90%;
  
}

}


/* These styles will be applied to screens that have a width of at least 992px */
@media screen and (min-width: 992px) {
  /* HEADER */
  header {
    background-color: #000000;
    margin-bottom: 800px;
    height: 8rem;
  }
  button{
    background-color:#fdfdfd;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
    margin-left: 500px;
  }
  button:hover{
    background-color: transparent;
    border: 2px solid #000000;
    cursor: pointer;
  }

  .header-container {
    max-width: 97rem;
  }

  .header-logo img {
    width: 13rem;
  }
  .nav-desktop {
    display : flex;
    align-items: center;
  }
  .nav-mobile{
    display: none;
  }

  .header-container {
    max-width: 117rem;
  }
 .footer-nav {
  width: 117rem;
}
}

